header{
    margin: 100px auto;
}

.h-container{
    width: 900px;
    background: rgb(255,193,189);
    background: linear-gradient(90deg, rgba(255,193,189,1) 0%, rgba(255,128,127,1) 100%);
    border-radius: 45px 0px 0px 45px;    
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    right: 0px;
    top: 0px;
}

.header_row{
    display: flex;
    column-gap: 30px;
}

.search{
    background: white !important;
    width: 400px !important;
    height: 40px;
    border-radius: 45px;
    border: 0cap;
    padding: 2px;
    padding-left: 60px;
    
}

.search-img{
    position: fixed  !important;
    right: 860px !important;
    margin-top: 7px;
}
.icon-header{
    width: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.icon-user{
    width: 100%;
    
}
.icon-user:hover{
     rotate: 30px;
}
.menu{
    
    position: fixed;
    right: 10px;
}
.parentImg{
    background: #FADFBC;
    width: 45px;
    margin-right: 40px;
    border-radius: 50%;
    overflow: hidden;  
    padding: 5px;
  
    display: flex;
    justify-content: center;
}