.cardProduct{
    width: 450px;
    border-radius: 10%;
    background: #fff1e1;
    color: #3B1E0E;
    font-size: 20pt;
    padding: 10px;
    margin-top: 30px !important;    
    margin-left: 10px !important;
    height: 900px;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25pt;
    height: 150px;
}

.imgProduct{
    border-radius: 15%;
    width: 450px;
    height: 500px;
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
        
}

.descriptionStyle{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
}



.returnButton{
    width: 100px;
}

.typeIconCircle {
    background: #d9d9d9;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
    

}

.iconPic
{
    height: 100px;
    width: 100px;
}

.buyButton
{
    margin-top: 10px !important;
    margin-left: 45% !important;
}

.productText
{
height: 30px;
}