.cardProduct {
    border-radius: 15%;
    width: 500px;
    background: linear-gradient(90deg, rgb(255, 255, 223, 45%) 0%, rgb(255, 215, 188) 100%);
    color: #000000;
    font-size: 20pt;
    padding: 35px;
    margin-top: 60px !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    max-height: 1000px;
}



.name{
    font-weight: bold;
    font-size: 25pt;
}

.imgProduct {
    border-radius: 15%;
    width: 300px;
    max-height: 500px;
    margin-left: 100px;
}

.picCuter {
    width: 500px;
    height: 500px;
}

.row{
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    margin-left: 75px;
}

.descriptionStyle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
}



.returnButton{
    width: 100px;
}

.buyButton {
    width: 300px;
    margin-bottom: 50px;
    background-color: darksalmon;
    color: #F2E8E2;
    font-size: 24px;
}

.rightSideText {
    float: right;
    position: relative;
    margin-right: 300px;
}

.leftSideText {
    float: left;
    position: relative;
    margin-left: 200px;
}
